# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# generated or prepared data files
*.connect
*.bin
*.int
*.da
*.dat
*.dic
*.tab
*.txt
*.mat
*.done
INSTALL

# generated binaries and headers
compile
juman/juman
juman/version.h
jumanrc
darts/mkdarts
makeint/makeint
makemat/makemat
makepat/dicsort
makepat/makepat

# automake
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
stamp-h?
.deps/
.dirstamp
.libs/
*.l[ao]
*~

# tags
GPATH
GRTAGS
GTAGS

#MacOS X
.DS_Store
